body {
    background-color: gray;
}

.wrapper {
    max-width: 70%;
    margin: 20px auto;
}

.search_div {
    background-color: #ffff;
    /* width: 100%; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px solid black;
}

.parent_headType {
    width: 100%;
    display: flex;
    border: 1px solid initial;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px;
}

.formInput {
    /* width: 100%; */
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 0 0 10px;
    font-size: 35px;
    box-shadow: 5px solid gray;
}

.usersList {
    display: flex;
    width: 100%;
    margin: 8px 0;
    align-items: center;
}

.linkContainer {
    width: 100%;
    overflow-y: auto;
    display: flex;
    border-radius: 3px;
    align-items: center;
    background-color: #f6f8fa;
}

.linkContainer:hover {
    background: #efefef;
}

img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 692px) {
    .formInput {
        font-size: 18px;
    }
    img {
        width: 35px;
        height: 35px;
    }
}